@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,500;0,600;1,500&family=Orbitron:wght@400;500;700&family=Ubuntu&display=swap");

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font: normal 1rem "Orbitron", "sans-serif";
  margin: 0;

  background: #f6f6f6;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/*! Nav and logo */

.logo {
  width: 110px;
  margin-left: 30px;

  transition: all 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.nav__link {
  margin-right: 30px;

  list-style: none;
}

.nav__link a {
  padding: 5px;

  color: #261f66;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;

  transition: background-color 0.3s ease, border-radius 0.3s;
}

.nav__link a:hover {
  background-color: #8daff8;
  border-radius: 5px;
}

/*! Modal */

.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.5); /* цвет фона */

  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* при отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;

  background-clip: padding-box;
  border-radius: 10px;
  outline: 0;
  background-color: #3f74ff;
}
@media (min-width: 768px) {
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: 130px;

  color: white;
  font-size: 2rem;
  font-family: "Orbitron";
  font-weight: bold;
}
/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  overflow: auto;
}

.modal__link {
  margin-right: 30px;
}

.modal__link img {
  width: 40px;

  transition: all 0.2s;
}

.modal__link img:hover {
  transform: scale(1.1);
}

.modal__link:last-child {
  margin: 0;
}

/*! Info */

.info {
  margin-top: 150px;
  margin-left: 130px;
  margin-right: 130px;
  max-width: 810px;

  color: #261f66;
}

.info__title {
  font-size: 50px;
  font-weight: bold;
}

.info__text {
  margin-top: 25px;

  font: normal 28px "ubuntu";
}

/*! Avatar and button */

.section-blue {
  height: 700px;
  margin-top: 370px;

  background: #3f74ff;
}

.avatar-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 280px;
  height: 380px;
  position: relative;
  top: -190px;

  object-fit: cover;
  border-radius: 15%;
}

.btn {
  width: 300px;
  height: 60px;

  font-size: 22px;
  color: white;

  border: 0;
  border-radius: 35px;

  cursor: pointer;
}

.btn_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -150px;

  text-decoration: none;
  font-family: "Orbitron";
  font-weight: bold;

  background: #3d339b;

  overflow: hidden;
  transition: all 0.3s ease;
}

.btn_contact:hover {
  background: #261f66;

  transform: translate(-6px, -6px);

  box-shadow: 6px 6px #000000;
}

/*! Skills */

.skills {
  display: flex;
  justify-content: center;
  position: relative;
}

.skills__logo {
  transition: all 0.3s ease;
}

.design:hover .skills__logo {
  transform: translate(0, -10px);
}

.frontend:hover .skills__logo {
  transform: translate(0, -10px);
}

.skills__name {
  margin: 17px 0 0 0;

  font-size: 25px;
}

.skills__title {
  margin: 26px 0 0 0;

  font-size: 18px;
  font-weight: 700;
  color: #3f74ff;
}

.skills__tools {
  margin: 10 0 0 0;

  font-size: 14px;
  font-weight: 600;
}

/** Design */
.design {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  box-sizing: border-box;
  padding: 45px;

  background: #f6f6f6;
  border: 4px solid #3f74ff;
  border-right: 2px;
}

/** Frontend*/
.frontend {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  box-sizing: border-box;
  padding: 45px;

  background: #f6f6f6;
  border: 4px solid #3f74ff;
}

/*! Works */

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

.works__title {
  text-align: center;

  font-size: 35px;
  color: #261f66;
}

.works__items {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: stretch;
}

.works__item {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 400px;

  overflow: hidden;
}

.works__item:nth-child(odd) {
  margin-right: 100px;
}

.works__item-img {
  display: block;
  width: 100%;
  height: 400px;

  object-fit: cover;

  transition: transform 0.7s ease, opacity 1.4s;
}

.works__item-img:hover {
  transform: scale(1.1);

  opacity: 0.2;
}

.works__item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;

  pointer-events: none;
  transition: opacity 0.5s ease;
}

.works__item-link img {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
}

.works__item-link h2 {
  position: absolute;
  top: 65%;
  left: 21%;
  font-size: 15px;

  font-weight: bold;
  color: #ffffff;
  background-color: #3f74ff;
  border-radius: 15px;
  padding: 10px 20px;
}

.works__item:hover .works__item-link {
  opacity: 1;
}

/*! Footer */

.footer {
  margin-top: 150px;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #261f66;
}

.footer-work {
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #261f66;
}

.social-media {
  margin-top: 30px;
}

.footer__link {
  margin-right: 30px;
}

.footer__link img {
  width: 35px;

  transition: all 0.2s;
}

.footer__link img:hover {
  transform: scale(1.1);
}

.footer__link:last-child {
  margin: 0;
}

.rights {
  text-align: center;
  color: #f6f6f6;
  font-family: "Ubuntu";
  font-weight: 500;
}
